.app {
  margin: 1rem auto;
  max-width: 800px;
  font-family: Arial, sans-serif;
}

.tabs {
  display: flex;
  margin-bottom: 1rem;
}

.tabs button {
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  background: none;
  border: none;
  border-bottom: 2px solid #ddd;
  cursor: pointer;
  font-weight: bold;
  color: #555;
  transition: color 0.3s, border-bottom 0.3s;
}

.tabs button:hover {
  color: #007bff;
}

.tabs button.activeTab {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.tabContent {
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}